/* fonts for the webpage */ 


@font-face {
font-family: "Jurassic";
src: url("/fonts/JurassicPark-BL48.ttf")format("truetype");
}
@font-face {
font-family: "DinosaurBeeline";
src: url("/fonts/Dinosbeeline-vmmO.ttf")format("truetype");
}
@font-face {
font-family: "DingOfSaurs7";
src: url("/fonts/DingOSaurs-7arw.otf")format("opentype");
}
@font-face {
font-family: "DingofSaurs8";
src: url("/fonts/DingOSaurs-v8r9.ttf")format("truetype");
}
    
* {
    margin: 0;
    font-family: Verdana, Tahoma, sans-serif;
    box-sizing: border-box;
    text-align: center;

    scroll-snap-type: none;
    overflow: none;
    overflow-anchor: none;
    
  }

h2 {
    /* text-align: end; */
    
}  

p{
    /* text-align: end; */
    text-size: 16px;
}



