/* fonts for the webpage */ 


@font-face {
font-family: "Jurassic";
src: url("/fonts/JurassicPark-BL48.ttf")format("truetype");
}
@font-face {
font-family: "DinosaurBeeline";
src: url("/fonts/Dinosbeeline-vmmO.ttf")format("truetype");
}
@font-face {
font-family: "DingOfSaurs7";
src: url("/fonts/DingOSaurs-7arw.otf")format("opentype");
}
@font-face {
font-family: "DingofSaurs8";
src: url("/fonts/DingOSaurs-v8r9.ttf")format("truetype");
}
    
* {
    margin: 0;
    
    box-sizing: border-box;
    text-align: center;

    scroll-snap-type: none;
    overflow: none;
    overflow-anchor: none;
    
  }

  h1{
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 30px;
  }

h2 {
    /* text-align: end; */
    font-family: "Fjalla One", Verdana, sans-serif;
    font-size: 25px;
    margin: 0px 5px;
} 

h3{
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 20px;
}

p{
    /* text-align: end; */
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 16px;
}



