/* css adapted by Sveinbjørn from https://css-tricks.com/css-only-carousel/ */


@keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes tostart4 {
    55% {
      left: 0;
    }
    95% {
      left: -400%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }

  
  
  @keyframes snap { 
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }
  /* .carousel__slide */
  .listings *{
    overflow-anchor: none;
  }
  
  #housingPreview *::-webkit-scrollbar {
    width: 0;
  }
  .listings *::-webkit-scrollbar {
    width: 0;
  }
  
  #housingPreview *::-webkit-scrollbar-track {
    background: transparent;
  }
  .listings *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  #housingPreview *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  .listings *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
  #housingPreview * {
    -ms-overflow-style: none;
  }
  .listings * {
    -ms-overflow-style: none;
  }
  


/* Example of use of z-index and transparency */
#housingPreview p {
  font-size: 25px;
  z-index: 1;
  
  position: absolute;
  bottom: 5%; 
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.418);
  }

  #housingPreview h2 {
    font-size: 45px;
    z-index: 1;
    
    position: absolute;
    top: 0%; 
    right: 0%;
    margin: 20px;
    color: rgba(255, 255, 255, 0.623);
    }

  #housingPreview  img {
  
  
    /* border: 16px solid rgb(115, 150, 65); */
    /* border-radius: 16px; */
    /* margin-top: 15px; */
    /* object-fit: cover; */
  /* max-height: 100%; */
  object-fit: cover;
  width: 100%;
  /* height: 100%; */
 
 
  /* position: relative; */
  }

  .listings h2{
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 1;
    padding: 5px;
    /* margin: 30px; */
    border-radius: 45%;
    /* background-color: rgba(255, 255, 255, 0.63); */
    background: rgba(255, 255, 255, 0.651);


  }
  .listings  img *{
  
    /* border: 16px solid rgb(115, 150, 65); */
    /* border-radius: 16px; */
    /* margin-top: 15px; */
    /* object-fit: none; */
  /* max-height: 100%; */
  object-fit: cover;
  /* height: 100%; */
  

  /* max-height: 100%; */

  /* height: 100%; */

  /* position: relative; */
  }
  /* .carousel {
    width: 1400;
  } */
  



  #housingPreview ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
    /* overflow-y:none; */

  }
  .listings ol, li{
    list-style: none;
    margin: 0;
    padding: 0;
    /* overflow-y:none; */
  
  }
  /* .listings ol{
    width: 200;
  } */
  
  /* #housingPreview  */
  #housingPreview .carousel {
    position: relative;
    padding-top: 69%;
    /* display: none; */
    /* max-height: 980px; */
    filter: drop-shadow(0 0 10px #0003);
    /* perspective: 100px; */
    /* overflow-anchor: none; */
    /* overflow-y:none; */
 
  }

  .listings .carousel {
    position: relative;
    /* left:0%;
    right: auto; */
    padding-top: 200px;
    /* height: 100%; */
    /* display: none; */
    /* max-height: 980px; */
    filter: drop-shadow(0 0 10px #0003);
    /* perspective: 100px; */

    
    overflow: none;
    /* overflow-y:none; */
  }
  
  /* #housingPreview  */
  .carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    overflow-y: hidden;
  }
  
  /* #housingPreview  */
  .carousel__slide {
    position: relative;
    flex: 0 0 100%;
    overflow: none;
    /* width: 100%; */
    
    /* counter-increment: item; */
  }

  .listings .carousel__slide {
    position: relative;
    flex: 0 0 100%;
 
    
    /* counter-increment: item; */
  }
  
  /* #housingPreview .carousel__slide:nth-child(even) {
  
  } */
  
  /* #housingPreview  */
  /* .carousel__slide:before {
    content: counter(item);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-40%,70px);
    /* color: #fff;
    font-size: 2em; 
    display: none;
  } */
  
  /* #housingPreview  */
  .carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center; 

  }
  .listings .carousel__snapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center; 
 
  }
  
  @media (hover: hover) {
    #housingPreview .carousel__snapper {
        animation-name: tonext, snap;
        animation-timing-function: ease;
        animation-duration: 3s;
        animation-iteration-count: infinite;
      }
     /* #housingPreview  */
     #housingPreview .carousel__slide:last-child .carousel__snapper {
        animation-name: tostart4, snap;
      }
     

      .listings .carousel__slide:last-child .carousel__snapper {
        animation-name: tostart4, snap;
      }
      .listings  .carousel__snapper  {
          
          animation-name: tonext, snap;
          animation-timing-function: ease;
          animation-duration: 2.5s;
          animation-iteration-count: infinite;
        }


  }
 .listings .carousel:hover .carousel__snapper{
        animation-name: none;
        
      }
    
  /* #housingPreview */
  @media (prefers-reduced-motion: reduce) {
     .carousel__snapper {
      animation-name: none;
    }
  }
  
  /* #housingPreview  */
  /* #housingPreview  */
  #housingPreview .carousel:hover .carousel__snapper,
  #housingPreview .carousel:focus-within .carousel__snapper {
    animation-name: none;
    
  }

    

    /* .fourImages .carousel__slide:last-child .carousel__snapper {
      animation-name: tostart4, snap;
    }
    .fiveImages .carousel__slide:last-child .carousel__snapper {
      animation-name: tostart5, snap;
    } */
    
  
  /* #housingPreview  */
  .carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
  

  }
  /* #housingPreview  */
  /* #housingPreview  */
  .carousel__navigation-list,
  .carousel__navigation-item {
    display: inline-block;
  
    
  }
  
  /* #housingPreview  */
  #housingPreview .carousel__navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #333;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
 
  }

  .listings .carousel__navigation-button {
    
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-color: #333;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;

    font-size: 0;
    transition: transform 0.1s;
 
    
  }
  
  /* #housingPreview */
  /* #housingPreview */
  /* #housingPreview */
  /* #housingPreview */
  .carousel::before,
  .carousel::after,
  .carousel__prev,
  .carousel__next {
    
    position: absolute;
    top: 0;
    margin-top: 37.5%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
 
  }
  
  /* #housingPreview  */
  .carousel::before,
  .carousel__prev {
    left: -1rem;
 
    
  }
  
  /* #housingPreview  */
  .carousel::after,
  .carousel__next {
    right: -1rem;

    
  }
  
  /* #housingPreview .carousel::before,
  #housingPreview .carousel::after {
    content: '';
    z-index: 1;
    background-color: #333;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
  } */
  /* #housingPreview .carousel::before {
    overflow-anchor: none;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
    
  }
  
  #housingPreview .carousel::after {
    overflow-anchor: none;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
    
  } */