/* All CSS Below Is From George Wauchope & Is For The Home Page */



/* Below is CSS Grid for the rides part of homepage */
.rides_H1 {
  margin-top: 60px;
  margin-bottom: -50px;
}

.grid-for-rides {
  margin: 5rem auto;
  display: grid;
  grid-auto-flow: row;
  gap: 2em;
  padding: 0px 50px;
}

.grid-for-rides > .ride {
  text-align: center;
}
.grid-for-rides > .ride > img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  margin-bottom: 30px;
}

.grid-for-rides .ride-btn {
  padding: 10px 15px;
  background: red;
  cursor: pointer;
  color: white;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 10px;
}
.grid-for-rides .ride-btn:hover {
  background: #e9fa00;
  color: #000;
}

.grid-for-rides > .ride > h2 {
  margin-bottom: 15px;
}

/* Pricing field code by George */

.pricing {
  width: 80%;
  margin-top: 50px;
  border: 1px solid #ddd;
  padding: 30px 0px;
  margin-bottom: 50px;
}
.pricing .price-header {
  text-align: center;
  font-size: 44px;
}

.pricing .price-list {
  display: flex;
  justify-content: center;
}
.pricing .price-list ul {
  margin: 30px 0px;
}
.pricing .price-list ul li {
  padding: 10px 0px;
  font-size: 22px;
}




@media (min-width: 992px) {
  .grid-for-rides {
    grid-auto-flow: column;
  }
}

@media (max-width: 991px) {
  
  .grid-for-rides .ride {
    margin-bottom: 50px;
  }
  .grid-for-rides .ride:last-child {
    margin-bottom: 0px;
  }
}




/* Below media quiery keeps ride images on homepage mobile responsive on larger devices greater than 623 pixels wide */
@media (min-width: 720px) {
  .flex-container-for-rides {
    display: inline;
  }
}
