/* Custom fonts */
@font-face {
font-family: "Jurassic";
src: url("/fonts/JurassicPark-BL48.ttf")format("truetype");
}
@font-face {
font-family: "DinosaurBeeline";
src: url("/fonts/Dinosbeeline-vmmO.ttf")format("truetype");
}
@font-face {
font-family: "DingOfSaurs7";
src: url("/fonts/DingOSaurs-7arw.otf")format("opentype");
}
@font-face {
font-family: "DingofSaurs8";
src: url("/fonts/DingOSaurs-v8r9.ttf")format("truetype");
}

/* properties for the entire page */

* {
    box-sizing: border-box;
    margin: 0;
    scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: 0px;
}

body {
    background-color: #6b8e2380;
    max-width: 100%;
  }
  
  /* Below is CSS for top navbar made by George Wauchope  */
  
  #phone-and-button-top-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #e9fa00;
    height: 50px;
    width: 100%;
  }
  
  #phone-and-button-top-nav > button {
    margin: 20px;
    padding: 10px;
    text-decoration: none;
    background-color: #b81106;
    color: white;
    font-size: 16px;
  }
  
  #phone-and-button-top-nav > p {
    margin-right: 30px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b81106;
    color: #fff;
  }
  
  .brand-title {
    font-size: 1.5rem;
    margin: 0.5rem;
  }
  
  .navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar-links li {
    list-style: none;
  }
  
  .navbar-links li a {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    display: block;
  }
  
  .brandLink {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    display: block;
  }
  
  .navbar-links li:hover {
    background-color: #e9fa00;
  }
  
  .navbar-links li a:hover {
    color: black;
  }
  
  .toggle-button {
    position: absolute;
    top: 1.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  }
  
  .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
  }
  
  .navbar-links li a {
    padding: 0.5rem 1rem;
  }
  
  .navbar-links.active {
    display: flex;
  }
  
  /* Above is CSS for top navbar */
  
  
  .above-fold {
    position: relative;
  }
  
  .text-above-fold {
    max-width: 300px;
    margin: 0 auto;
    margin-top: 20px;
  }
  
  .text-above-fold > h2 {
    font-family: "Pattaya", sans-serif;
  }
  
  .text-above-fold > button {
    margin-top: 15px;
    padding: 10px;
    text-decoration: none;
    background-color: #b81106;
    color: white;
    font-size: 16px;
  }
  
  .flex-container-for-rides {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  
  
  .footer {
    width: 100%;
    height: 80px;
    background-color: #b81106;
    display: flex;
    align-items: center;
  }
  
  .footer > h2 > a {
    margin-left: 50px;
    text-decoration: none;
    color: white;
  }
  
  .contact-us {
    margin-bottom: 50px;
  }
  
  /* Media Queries Below: */
  
  /* Below media quiery keeps ride images on homepage mobile responsive on larger devices greater than 623 pixels wide */
  
    @media (min-width: 623px) {
      .text-above-fold {
        position: absolute;
        top: 20vh;
        left: 10vw;
        color: black;
        background-color: #f8f8f8;
        font-size: 25px;
  
      }
    }
  


/* places-to-stay.html main area*/

#housingSearchBar { grid-area: searchBar; }
#housingPreview { grid-area: housingPreview; }
#housingListings { grid-area: housingListings; }
.contact-us { grid-area: contact-us;}

/*Mobile*/
@media only screen and (max-width: 640px){
    #grid-container-PtS { 
        display: grid;
        grid-template-columns: auto;
        width: 100%;
        object-fit: cover;
        
        grid-template-areas:
          ' searchBar '
          ' housingPreview  '
          ' housingListings '
          ' contact-us '
                            
      }
      
    #housingSearchBar{
       text-align: center;
        margin: 11px;
        position: relative;
        border: 3px  #e9fa00;
        border-style: solid;
        border-radius: 16px;
        /* box-sizing: content-box; */
        
       
      }
      
      #housingPreview{
    
       
          position: relative;
          object-fit: cover;
        width: 100%

        
      }
      
      #housingPreview  p {
        font-size: 25px;
        z-index: 1;
        /* display: inline; */
        position: absolute;
       bottom: 10%; 
       margin: 16px;
       
      
      background-color: #f6fa003c;
      border-radius: 10px;
        

      }

      #housingPreview  img {
        
        border: 16px solid rgb(115, 150, 65);
        border-radius: 16px;
        margin-top: 15px;
        object-fit: fill;
        width: 100%;
       

        
        position: relative;
      }
      
      .contact-us{
          margin: 10px;
      }
}
/*Tablet-------------------------------------*/
@media only screen and (min-width: 641px) and (max-width: 1010px){
    #grid-container-PtS {
        display: grid;
        grid-template-columns: 220px auto;
        width: 100%;
        object-fit: cover;
        
        grid-template-areas:
          'searchBar housingPreview  '
          'searchBar housingListings '
          'searchBar contact-us '
                            
      }
      
    #housingSearchBar{
       
        margin: 11px;
        position: relative;
        border: 3px  #e9fa00;
        border-style: solid;
        border-radius: 16px;
        /* box-sizing: content-box; */
        align-self: flex-start;
       
      }
      
      #housingPreview{
    
       
          position: relative;
          object-fit: cover;
        width: 100%

        
      }
      
      #housingPreview  p {
        font-size: 25px;
        z-index: 1;
        /* display: inline; */
        position: absolute;
       bottom: 10%; 
       margin: 16px;
       
      
      background-color: #f6fa003c;
      border-radius: 10px;
        

      }

      #housingPreview  img {
        
        border: 16px solid rgb(115, 150, 65);
        border-radius: 16px;
        margin-top: 15px;
        object-fit: fill;
        width: 100%;
       

        
        position: relative;
      }
      
      .contact-us{
          margin: 10px;
      }
      
}
/*Desktop-------------------------------------*/
@media only screen and (min-width: 1011px){
    #grid-container-PtS {
        display: grid;
        grid-template-columns: 380px auto 260px;
        width: 100%;
        object-fit: cover;
        
        grid-template-areas:
          'searchBar housingPreview  contact-us'
          'searchBar housingListings contact-us'
           
      }
      
    #housingSearchBar{
       
        margin: 11px;
        position: relative;
        border: 3px  #e9fa00;
        border-style: solid;
        border-radius: 16px;
        /* box-sizing: content-box; */
        align-self: flex-start;
       
      }
      
      #housingPreview{
    
       
          position: relative;
          object-fit: cover;
        width: 100%

        
      }
      
      #housingPreview  p {
        font-size: 25px;
        z-index: 1;
        /* display: inline; */
        position: absolute;
       bottom: 10%; 
       margin: 16px;
       
      
      background-color: #f6fa003c;
      border-radius: 10px;
        

      }

      #housingPreview  img {
        
        border: 16px solid rgb(115, 150, 65);
        border-radius: 16px;
        margin-top: 15px;
        object-fit: fill;
        width: 100%;
       

        
        position: relative;
      }
      
      .contact-us{
          margin: 10px;
      }
      
     

}


/* css adapted from https://css-tricks.com/css-only-carousel/ */

@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}



#housingPreview *::-webkit-scrollbar {
  width: 0;
}

#housingPreview *::-webkit-scrollbar-track {
  background: transparent;
}

#housingPreview *::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

#housingPreview * {
  -ms-overflow-style: none;
}

#housingPreview ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

#housingPreview .carousel {
  position: relative;
  padding-top: 75%;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}

#housingPreview .carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

#housingPreview .carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  background-color: #f99;
  counter-increment: item;
}

#housingPreview .carousel__slide:nth-child(even) {
  background-color: #99f;
}

#housingPreview .carousel__slide:before {
  content: counter(item);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-40%,70px);
  color: #fff;
  font-size: 2em;
}

#housingPreview .carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  #housingPreview .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  #housingPreview .carousel__slide:last-child #housingPreview .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  #housingPreview .carousel__snapper {
    animation-name: none;
  }
}

#housingPreview .carousel:hover #housingPreview .carousel__snapper,
#housingPreview .carousel:focus-within #housingPreview .carousel__snapper {
  animation-name: none;
}

#housingPreview .carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

#housingPreview .carousel__navigation-list,
#housingPreview .carousel__navigation-item {
  display: inline-block;
}

#housingPreview .carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

#housingPreview .carousel::before,
#housingPreview .carousel::after,
#housingPreview .carousel__prev,
#housingPreview .carousel__next {
  position: absolute;
  top: 0;
  margin-top: 37.5%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

#housingPreview .carousel::before,
.carousel__prev {
  left: -1rem;
}

#housingPreview .carousel::after,
.carousel__next {
  right: -1rem;
}

#housingPreview .carousel::before,
#housingPreview .carousel::after {
  content: '';
  z-index: 1;
  background-color: #333;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}
#housingPreview .carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

#housingPreview .carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}