/* Custom fonts */
@font-face {
font-family: "Jurassic";
src: url("/fonts/JurassicPark-BL48.ttf")format("truetype");
}
@font-face {
font-family: "DinosaurBeeline";
src: url("/fonts/Dinosbeeline-vmmO.ttf")format("truetype");
}
@font-face {
font-family: "DingOfSaurs7";
src: url("/fonts/DingOSaurs-7arw.otf")format("opentype");
}
@font-face {
font-family: "DingofSaurs8";
src: url("/fonts/DingOSaurs-v8r9.ttf")format("truetype");
}

/* properties for the entire page */

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #6b8e2380;
  }
  
  /* Below is CSS for top navbar made by George Wauchope  */
  
  #phone-and-button-top-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #e9fa00;
    height: 50px;
    width: 100%;
  }
  
  #phone-and-button-top-nav > button {
    margin: 20px;
    padding: 10px;
    text-decoration: none;
    background-color: #b81106;
    color: white;
    font-size: 16px;
  }
  
  #phone-and-button-top-nav > p {
    margin-right: 30px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b81106;
    color: #fff;
  }
  
  .brand-title {
    font-size: 1.5rem;
    margin: 0.5rem;
  }
  
  .navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar-links li {
    list-style: none;
  }
  
  .navbar-links li a {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    display: block;
  }
  
  .brandLink {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    display: block;
  }
  
  .navbar-links li:hover {
    background-color: #e9fa00;
  }
  
  .navbar-links li a:hover {
    color: black;
  }
  
  .toggle-button {
    position: absolute;
    top: 1.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  }
  
  .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
  }
  
  .navbar-links li a {
    padding: 0.5rem 1rem;
  }
  
  .navbar-links.active {
    display: flex;
  }
  
  /* Above is CSS for top navbar */
  
  
  .above-fold {
    position: relative;
  }
  
  .text-above-fold {
    max-width: 300px;
    margin: 0 auto;
    margin-top: 20px;
  }
  
  .text-above-fold > h2 {
    font-family: "Pattaya", sans-serif;
  }
  
  .text-above-fold > button {
    margin-top: 15px;
    padding: 10px;
    text-decoration: none;
    background-color: #b81106;
    color: white;
    font-size: 16px;
  }
  
  .flex-container-for-rides {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  
  
  .footer {
    width: 100%;
    height: 80px;
    background-color: #b81106;
    display: flex;
    align-items: center;
  }
  
  .footer > h2 > a {
    margin-left: 50px;
    text-decoration: none;
    color: white;
  }
  
  .contact-us {
    margin-bottom: 50px;
  }
  
  /* Media Queries Below: */
  
  /* Below media quiery keeps ride images on homepage mobile responsive on larger devices greater than 623 pixels wide */
  
    @media (min-width: 623px) {
      .text-above-fold {
        position: absolute;
        top: 20vh;
        left: 10vw;
        color: black;
        background-color: #f8f8f8;
        font-size: 25px;
  
      }
    }
  


/* places-to-stay.html main area*/

#housingSearchBar { grid-area: searchBar; }
#housingPreview { grid-area: housingPreview; }
#housingListings { grid-area: housingListings; }
.contact-us { grid-area: contact-us;}

/*Mobile*/
@media only screen and (max-width: 640px){
    #grid-container-PtS { 
        display: grid;
        grid-template-columns: auto;
        width: 100%;
        object-fit: cover;
        
        grid-template-areas:
          ' searchBar '
          ' housingPreview  '
          ' housingListings '
          ' contact-us '
                            
      }
      
    #housingSearchBar{
       text-align: center;
        margin: 11px;
        position: relative;
        border: 3px  #e9fa00;
        border-style: solid;
        border-radius: 16px;
        /* box-sizing: content-box; */
        
       
      }
      
      #housingPreview{
    
       
          position: relative;
          object-fit: cover;
        width: 100%

        
      }
      
      #housingPreview  p {
        font-size: 25px;
        z-index: 1;
        /* display: inline; */
        position: absolute;
       bottom: 10%; 
       margin: 16px;
       
      
      background-color: #f6fa003c;
      border-radius: 10px;
        

      }

      #housingPreview  img {
        
        border: 16px solid rgb(115, 150, 65);
        border-radius: 16px;
        margin-top: 15px;
        object-fit: fill;
        width: 100%;
       

        
        position: relative;
      }
      
      .contact-us{
          margin: 10px;
      }
}
/*Tablet-------------------------------------*/
@media only screen and (min-width: 641px) and (max-width: 1010px){
    #grid-container-PtS {
        display: grid;
        grid-template-columns: 220px auto;
        width: 100%;
        object-fit: cover;
        
        grid-template-areas:
          'searchBar housingPreview  '
          'searchBar housingListings '
          'searchBar contact-us '
                            
      }
      
    #housingSearchBar{
       
        margin: 11px;
        position: relative;
        border: 3px  #e9fa00;
        border-style: solid;
        border-radius: 16px;
        /* box-sizing: content-box; */
        align-self: flex-start;
       
      }
      
      #housingPreview{
    
       
          position: relative;
          object-fit: cover;
        width: 100%

        
      }
      
      #housingPreview  p {
        font-size: 25px;
        z-index: 1;
        /* display: inline; */
        position: absolute;
       bottom: 10%; 
       margin: 16px;
       
      
      background-color: #f6fa003c;
      border-radius: 10px;
        

      }

      #housingPreview  img {
        
        border: 16px solid rgb(115, 150, 65);
        border-radius: 16px;
        margin-top: 15px;
        object-fit: fill;
        width: 100%;
       

        
        position: relative;
      }
      
      .contact-us{
          margin: 10px;
      }
      
}
/*Desktop-------------------------------------*/
@media only screen and (min-width: 1011px){
    #grid-container-PtS {
        display: grid;
        grid-template-columns: 320px auto 300px;
        width: 100%;
        object-fit: cover;
        
        grid-template-areas:
          'searchBar housingPreview  contact-us'
          'searchBar housingListings contact-us'
           
      }
      
    #housingSearchBar{
       
        margin: 11px;
        position: relative;
        border: 3px  #e9fa00;
        border-style: solid;
        border-radius: 16px;
        /* box-sizing: content-box; */
        align-self: flex-start;
       
      }
      
      #housingPreview{
    
       
          position: relative;
          object-fit: cover;
        width: 100%

        
      }
      
      #housingPreview  p {
        font-size: 25px;
        z-index: 1;
        /* display: inline; */
        position: absolute;
       bottom: 10%; 
       margin: 16px;
       
      
      background-color: #f6fa003c;
      border-radius: 10px;
        

      }

      #housingPreview  img {
        
        border: 16px solid rgb(115, 150, 65);
        border-radius: 16px;
        margin-top: 15px;
        object-fit: fill;
        width: 100%;
       

        
        position: relative;
      }
      
      .contact-us{
          margin: 10px;
      }
      
     

}