
/* properties for the entire page */

* {
    box-sizing: border-box;
    scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: 0px;
    
}

body {
    
    max-width: 100%;
    
  }
  
 
/* places-to-stay.html main area*/
/* css for seach field */

#housingSearchBar{
 text-align: center; 
  margin: 11px;
  position: relative;
  /* box-sizing: content-box; */
  align-self: flex-start;
 
}
#housingSearchBar legend{
  text-align: left;
}

.dateField{
  margin-left: auto; 
  margin-right: 0;
}


#fromDate,
#toDate{
       
  margin: 2px 10px;
  /* padding 10px; */
 
}
 #numberInputTop,
 #numberInputBottom{
  margin: 4px;
}
#numberInputTop img,
#numberInputBottom img{
  object-fit: cover;
 
}

.numberInput{
  width: 10%;
}


/* Button look code by Sveinbjørn, 
partially adapted from https://stackoverflow.com/questions/710089/how-do-i-make-an-html-link-look-like-a-button */

#searchButtonListings,
#searchButtonPreview{
  /* font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE; */
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 2px solid #CCCCCC;
  border-right: 3px solid #333333;
  border-bottom: 3px solid #333333;
  border-left: 2px solid #CCCCCC;

  cursor: pointer;

}


#housingSearchBar { grid-area: searchBar; }
#housingPreview { grid-area: housingPreview; }
#housingListings { grid-area: housingListings; }
.contact-us { grid-area: contact-us;}

/*Mobile*/
@media only screen and (max-width: 640px){
    #grid-container-PtS { 
        display: grid;
        grid-template-columns: auto;
        width: 100%;
        object-fit: cover;
        
        grid-template-areas:
          ' searchBar '
          ' housingPreview  '
          ' housingListings '
          ' contact-us '
                            
      }
      
   
      
      #housingPreview{
    
       
          position: relative;
          object-fit: cover;
        width: 100%

        
      }
      
      #housingPreview  p {
        font-size: 25px;
        z-index: 1;
        /* display: inline; */
        position: absolute;
       bottom: 10%; 
       margin: 16px;
       
      
      background-color: #f6fa003c;
      border-radius: 10px;
        

      }

      #housingPreview  img {
        
        border: 16px solid rgb(115, 150, 65);
        border-radius: 16px;
        margin-top: 15px;
        object-fit: fill;
        width: 100%;
       

        
        position: relative;
      }

       /* css for re-fitting contact when resizing */
  
       .contact-us {
        width: 80%;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        padding: 30px 0px;
        margin-bottom: 50px;
      }
 
      .contact-us .contact-form {
        display: flex;
        justify-content: center;
      }
      .contact-us .contact-form .form-group {
        margin: 25px 0px;
      }
      .contact-us .contact-form .form-group input {
        width: 85%;
        margin-left: 12px;
      }
      .contact-us .contact-form .form-group textarea {
        width: 85%;
        margin-left: 12px;
      }
      
}
/*Tablet-------------------------------------*/
@media only screen and (min-width: 641px) and (max-width: 1010px){
    #grid-container-PtS {
        display: grid;
        grid-template-columns: 380px auto;
        width: 100%;
        object-fit: cover;
        
        grid-template-areas:
          'searchBar housingPreview  '
          'contact-us contact-us'
                            
      }
      
 

      
      
      #housingPreview{
    
       
          position: relative;
          object-fit: cover;
        width: 100%

        
      }
      
      #housingPreview  p {
        font-size: 25px;
        z-index: 1;
        /* display: inline; */
        position: absolute;
       bottom: 10%; 
       margin: 16px;
       
      
      background-color: #f6fa003c;
      border-radius: 10px;
        

      }

      #housingPreview  img {
        
        border: 16px solid rgb(115, 150, 65);
        border-radius: 16px;
        margin-top: 15px;
        object-fit: fill;
        width: 100%;
       

        
        position: relative;
      }
      
       /* css for re-fitting contact when resizing */
  
       .contact-us {
        width: 80%;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        padding: 30px 0px;
        margin-bottom: 50px;
      }
 
      .contact-us .contact-form {
        display: flex;
        justify-content: center;
      }
      .contact-us .contact-form .form-group {
        margin: 25px 0px;
      }
      .contact-us .contact-form .form-group input {
        width: 85%;
        margin-left: 12px;
      }
      .contact-us .contact-form .form-group textarea {
        width: 85%;
        margin-left: 12px;
      }


      
}
/*Desktop-------------------------------------*/
@media only screen and (min-width: 1011px){
    
  #grid-container-PtS {
        display: grid;
        grid-template-columns: 380px auto 320px;
        width: 100%;
        object-fit: cover;
        
        grid-template-areas:
          'searchBar housingPreview  contact-us'
          
           
  }
      
      /* css for fitting contact form as side content */
  
  .contact-us {
    
    width: 98%;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 0px;
    margin-bottom: auto;
  }
 
  .contact-us .contact-form {
    display: block;
    justify-content: top;
  }
  .contact-us .contact-form .form-group {
    margin: 10px 0px;
  }
  .contact-us .contact-form .form-group input {
    width: 95%;
    margin-left: 10px;
  }
  .contact-us .contact-form .form-group textarea {
    width: 95%;
    margin-left: 10px;
  }
 


    
      
      
      #housingPreview{
    
       
          position: relative;
          object-fit: cover;
        /* width: 100% */

        
      }
      
      #housingPreview .carousel p {
        font-size: 25px;
        z-index: 1;
        /* display: inline; */
        position: absolute;
       bottom: 5%; 
       margin: 20px;
       background-color: rgba(255, 255, 255, 0.418);
      }
      #housingPreview  img {


          /* border: 16px solid rgb(115, 150, 65); */
          /* border-radius: 16px; */
          /* margin-top: 15px; */
          object-fit: cover;
        max-height: 100%;
        object-fit: fill;
        width: 100%;
        /* height: 100%; */
       

        
        position: relative;
      }
      
      
      
     

}

/* css for search Button by Sveibjørn. Toggles between showing previews and listings */

#searchListings ,
#searchPreview {
  display: none;
  overflow-anchor: none;
 }

 #searchButtonListings{
  display: block;
}

#searchButtonPreview {
  display: block;
}

#searchPreview:checked~#housingSearchBar #searchButtonPreview{
  display: none;
}

#searchListings:checked~#housingSearchBar #searchButtonListings{
  display: none; 
}



/* searchListings" id = "searchButtonListings" "searchPreivew" id = "searchButtonPreview" */

 /* nav li a:hover{
     color:hsl(0,0%,255%);
     text-decoration: none;
 } */

 .carousel{
  display: none;
}

#searchPreview:checked~#housingPreview .carousel{
  display: block;
 }

 .listings{
  display: none;
}


#searchListings:checked~#housingPreview .listings{
  display: block;
 }





