

/* Below is CSS for top navbar created by Geoge Wauchope */

#phone-and-button-top-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #e9fa00;
    height: 50px;
    width: 100%;
  }
  
  #phone-and-button-top-nav > button {
    margin: 20px;
    padding: 10px;
    text-decoration: none;
    background-color: #b81106;
    color: white;
    font-size: 16px;
  }
  
  #phone-and-button-top-nav > p {
    margin-right: 30px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b81106;
    color: #fff;
  }
  
  .brand-title {
    font-size: 1.5rem;
    margin: 0.5rem;
  }
  
  .navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar-links li {
    list-style: none;
  }
  
  .navbar-links li a {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    display: block;
  }
  
  .brandLink {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    display: block;
  }
  
  .navbar-links li:hover {
    background-color: #e9fa00;
  }
  
  .navbar-links li a:hover {
    color: black;
  }
  
  .toggle-button {
    position: absolute;
    top: 1.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  }
  
  .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
  }
  
  .navbar-links li a {
    padding: 0.5rem 1rem;
  }
  
  .navbar-links.active {
    display: flex;
  }
  
  /*Below is CSS coded by Martha Fortrie*/ 
  nav {
      font-family: Lato, "Lucida Grande", Tahoma, Sans-Serif;
      font-size: 1em;
  }
  
  body {
      background-color:#6b8e2380;
      padding: 0;
      margin: 0;
  }

  @keyframes change-color {
      0% {color: black; left: 0px;}
      25% {color:red; left: 100px;}
      50% {color:yellow;}
      75% {color:green; left: 300px;}
      100% {color: black; }
  }
  
  .RandEContainer {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    text-align: center;
    font-family: Lato, "Lucida Grande", Tahoma, Sans-Serif;
    font-size: 18px;
  }

  .RandEContainer > h3, h2 {
    font-family: Lato, "Lucida Grande", Tahoma, Sans-Serif;
    text-align: center;
    font-size: 25px;
  }

  .RandEContainer > h3 {
    font-size: 50px;
    position: relative;
    animation-name: change-color;
    animation-duration: 6s;
    animation-iteration-count: 3;
  }

  .ridesContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 10px;
    font-family: Lato, "Lucida Grande", Tahoma, Sans-Serif;
    font-size: 1em;
    /* color: #b81106; Red color */
  }

  .ridesMain:hover > h2 {
    cursor: pointer;
    transition: all 2s linear;
    transform: rotateX(360deg);
  }

  .TyrannoCont {
    overflow:  hidden;
    padding: 5rem;
    max-width: 100%
  }

  .TyrannoCont > img {
    width: 500px;  
    float: left;
}

.TyrannoCont > div {
  margin: 0 1rem 0 0;
  text-align: left;
}

.TyrannoCont h3 {
    font-weight:bold;
    font-size: 30px;
    color: #b81106;
}

.VelocirCont {
  overflow:  hidden;
  padding: 5rem;
  max-width: 100%
}
.VelocirCont > img {
  width: 500px;  
  float: left;
}

.VelocirCont h3 {
  font-weight:bold;
  font-size: 30px;
  color: #b81106;
}


  .SpinosaurusCont {
    overflow:  hidden;
    padding: 5rem;
    max-width: 100%
  }

  .SpinosaurusCont > img {
    width: 500px;  
    float: left;
  }
  
 
  .SpinosaurusCont h3 {
    font-weight:bold;
    font-size: 30px;
    color: #b81106;
  }
  
  .ShowsAndEventsContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 20px;
    font-family: Lato, "Lucida Grande", Tahoma, Sans-Serif;
    font-size: 1em;
  }

  .ShowsMain:hover > h2 {
    cursor: pointer;
    transition: all 2s linear;
    transform: rotateX(360deg);
  }  

  .ShowsAndEventsContainer:hover > h2 {
    cursor: pointer;
    transition: all 2s linear;
    transform: rotateX(360deg);
  }
  
  .JurassicCont {
    overflow:  hidden;
    padding: 5rem;
    max-width: 100%
  }
  .JurassicCont > img {
    width: 500px;  
    float: left; 
}
.JurassicCont h3 {
    font-weight:bold;
    font-size: 30px;
    color: #b81106;
}

  .DinoDanceCont{
    overflow:  hidden;
    padding: 5rem;
    max-width: 100%
  }

  .DinoDanceCont > img {
    width: 500px;  
    float: left;
}

.DinoDanceCont h3 {
    font-weight:bold;
    font-size: 30px;
    color: #b81106;
  }

.LiveMusicContainer {
    overflow:  hidden;
    padding: 5rem;
    max-width: 100%
  }
.LiveMusicContainer > img {
    width: 500px;  
    float: left;
}

.LiveMusicContainer h3 {
    font-weight:bold;
    font-size: 30px;
    color: #b81106;
  }

  .RestaurantsContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 20px;
    font-family: Lato, "Lucida Grande", Tahoma, Sans-Serif;
    font-size: 1em;
  }

  .RestMain:hover > h2 {
    cursor: pointer;
    transition: all 2s linear;
    transform: rotateX(360deg);
  }

.JungleCont {
    overflow:  hidden;
    padding: 5rem;
    max-width: 100%
}
.JungleCont > img {
    width: 500px;  
    float: left;
}

.JungleCont h3 {
    font-weight:bold;
    font-size: 30px;
    color: #b81106;
  }
  
.T_rexCont {
    overflow:  hidden;
    padding: 5rem;
    max-width: 100%
}
.T_rexCont > img {
    width: 500px;  
    float: left;
}

.T_rexCont h3 {
    font-weight:bold;
    font-size: 30px;
    color: #b81106;
  }
  

.McdonaldsCont {
    overflow:  hidden;
    padding: 5rem;
    max-width: 100%
  }
.McdonaldsCont > img {
    width: 500px;  
    float: left;
}
/* .McdonaldsCont > div {
  padding-left: calc(100px + 1rem);
} */

.McdonaldsCont h3 {
    font-weight:bold;
    font-size: 30px;
    color: #b81106;
    margin: 0 0 0.5rem 0;
  }
  
  .MapCont{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 20px;
    font-family: Lato, "Lucida Grande", Tahoma, Sans-Serif;
    font-size: 1em; 
    align-items: center;
  }
table {
    color:#000000;
    align-items: left;
}

address {
    color:#000000;
    text-align: left;
}
/* For larger devices 768px and up  */
@media only screen and (max-width: 768px){
  body {
    background-color: white;
  }
  .ridesContainer {
    flex-direction: column;
  }
  .ShowsAndEventsContainer {
    flex-direction: column;
  }

  .RestaurantsContainer {
    flex-direction: column;
  }
     }

/* For small devices     */
/* @media only screen and (max-width: 600px)
{

} */


/* @media screen and(max-width:400px) {
  .ridesContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 10px;
    font-size: 1em;
  }    
} */
  
/* Footer coded by George Wauchope */
.footer {
    width: 100%;
    height: 80px;
    background-color: #b81106;
    display: flex;
    align-items: center;
}
  
.footer > h2 > a {
    margin-left: 50px;
    text-decoration: none;
    color: white;
}
  
.contact-us {
    margin-bottom: 50px;
}

