
* {
  margin: 0;
  font-family: Arial, sans-serif;
}
/* Below is CSS for top navbar created by Geoge Wauchope */

#phone-and-button-top-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #e9fa00;
  height: 50px;
  width: 100%;
}

#phone-and-button-top-nav > button {
  margin: 20px;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  background: red;
  border: 1px solid #fff;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

#phone-and-button-top-nav > p {
  margin-right: 30px;
}

.item3 #phone-and-button-top-nav {
  background-color: #fff;
}
.nav-wrap {
  width: 100%;
}

.navbar .item3 {
  margin-left: auto;
}
.navbar .item2 {
  margin-left: 20px;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #fff;
  color: #000;
  width: 90%;
  margin: 0 auto;
}

.brand-title {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: #000;
  padding: 1rem;
  display: block;
}

.brandLink {
  text-decoration: none;
  color: #000;
  padding: 1rem;
  display: block;
}

.navbar-links li a:hover {
  color: red;
  background-color: #e9fa00;
}

.toggle-button {
  position: absolute;
  top: 1.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}

.navbar-links li a {
  padding: 0.5rem 1rem;
}

.navbar-links.active {
  display: flex;
}

.active {
  background-color: #e9fa00;
  color: red !important;
}
.mobile-button {
  display: none;
}
@media (max-width: 991px) {
  .item3 {
    display: none;
  }
  .mobile-button {
    display: flex;
  }
}
/* Above is CSS for top navbar created by George*/

.text-above-fold {
  width: 100%;
}
.col-overlay {
  background: #1034a6;
  padding: 50px 0px;
  overflow: hidden;
}
.text-above-fold .text {
  color: white;
  width: 50%;
  float: left;
  display: block;
  text-align: center;
  font-size: 24px;
  margin-top: 60px;
}
.text-above-fold .img {
  width: 50%;
  float: right;
  display: block;
  text-align: center;
}
.text-above-fold .img img {
  width: 500px;
  height: auto;
}

.text-above-fold .text h2 {
  font-family: "Fjalla One", sans-serif;
  position: relative;
  animation: mymove 3s;
  animation-iteration-count: 3;
  padding-bottom: 20px;
}

/* Annimation makes text move from left to right  */
@keyframes mymove {
  from {
    left: -100px;
  }
  to {
    left: 50px;
  }
}

@media (max-width: 1275px) {
  .text-above-fold .text {
    margin-top: 10px;
  }
}

.text-above-fold > button {
  margin-top: 15px;
  padding: 10px;
  text-decoration: none;
  background-color: #b81106;
  color: white;
  font-size: 16px;
}

.book-btn {
  padding: 10px;
  text-decoration: none;
  color: #fff;
  background: red;
  border: 1px solid #fff;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}
.book-btn:hover {
  background: #e9fa00;
  color: #000;
}

  
 /*Below is CSS coded by Martha Fortrie*/ 
body {
  background-color: #fff;
  padding: 0;
  margin: 0;
}

/* Main styling container holding all content of Rides and Experiences page */
.mainRidesExperiences {
display: flex;
justify-content: center;
align-items: left;
flex-direction: column;
overflow: hidden;
}

/* Styling container holding intro text */
.RandEContainer {
width: 100%;
display: flex;
box-sizing: border-box;
flex-direction: column;
text-align: center;
font-size: 18px;
}

/* styling for header 1 and header 2 within container */
.RandEContainer > h1, h2 {
text-align: center;
font-size: 30px;
padding: 20px 20px 20px 20px;
}

/* styling for paragraph text within container */
.RandEContainer > p {
  padding: 20px;
}

/* styling container for all the rides together  */
.ridesContainer { 
display: flex;
width: 100%;
justify-content: center;
flex-direction: row; 
padding: 5px; 
font-size: 1em; 
}

/* annimation for header 2 in the ridesMain container  */
.ridesMain:hover > h2 {
  cursor: pointer;
  transition: all 2s linear;
  transform: rotateX(360deg);
  }

/* styles width of all images in rides container */
.ridesContainer > img {
  width:100%;
  }

/* styles all the div tags for the text in the rides container  */
.ridesContainer > div {
  line-height: 1.5;
  padding: 15px;
  width: 400px;
  }

/* styles only the header 3 from rides container  */
.ridesContainer h3 {
    font-weight:bold;
    font-size: 30px;
    color: #b81106;
    padding: 1rem;
}

.TyrannoCont {
  overflow: hidden;
  max-width: 100%;
}

.VelocirCont {
  overflow: hidden;
  max-width: 100%;
}

.RaptorRide {
  overflow: hidden;
  max-width: 100%;
}

/* styling container for all the shows and events together  */
.ShowsAndEventsContainer {
display: flex;
width: 100%;
justify-content: center;
flex-direction: row;
padding: 5px;
font-size: 1em; 
}

/* annimation for header 2 in the showsMain container  */
.ShowsMain:hover > h2 {
cursor: pointer;
transition: all 2s linear;
transform: rotateX(360deg);
}  

/* styles width of all images in ShowsAndEventsContainer */
.ShowsAndEventsContainer > img {
width: 100%;  
}

/* styles all the div tags for the text in the ShowsAndEventsContainer  */
.ShowsAndEventsContainer > div {
  line-height: 1.5;
  padding: 15px;
  width: 400px; 
}

/* styles only the header 3 from the shows and events container  */
.ShowsAndEventsContainer h3 {
  font-weight:bold;
  font-size: 30px;
  color: #b81106;
  padding: 1rem;
}

.JurassicCont { 
  overflow: hidden;
  max-width: 100%;
}

.DinoDanceCont{
  overflow: hidden;
  max-width: 100%;
}

.LiveMusicContainer {
  overflow: hidden;
  max-width: 100%;
}

/* styling container for all Restaurants and Dining options together  */
.RestaurantsContainer {
display: flex;
width: 100%;
flex-direction: row;
justify-content: center;
padding: 5px;
font-size: 1em;
}

/* annimation for header 2 in the restMain container  */
.RestMain:hover > h2 {
cursor: pointer;
transition: all 2s linear;
transform: rotateX(360deg);
}

/* styles width of all images in RestaurantsContainer */
.RestaurantsContainer > img {
padding: 1rem;
}

/* styles all the div tags for the text in the RestaurantsContainer  */
.RestaurantsContainer > div {
  line-height: 1.5;
  padding: 15px;
  width: 400px; 
}

/* styles only the header 3 from the RestaurantsContainer  */
.RestaurantsContainer h3 {
font-weight:bold;
font-size: 30px;
color: #b81106;
padding: 1rem;
}

.HerbivoreCont {
  overflow: hidden;
  max-width: 100%;
}
.DinoBurgersCont {  
  overflow: hidden;
  max-width: 100%;
}

.McdonaldsCont {   
  overflow: hidden;
  max-width: 100%;
}

/* styling container for all content from MapCont  */
.MapCont{
display: flex;
width: 100%;
flex-direction: column;
font-size: 1em; 
align-items: center;
}

/* Addes margin to top of the paragraph tag */
.MapCont > p {
  margin-top: 20px;
}

/* Adds padding to the table with opening hours */
table {
padding: 10px;
}


/* For smaller screens enables mobile responsiveness content shown in columns */
@media only screen and (max-width: 720px){
.ridesContainer {
flex-direction: column;
text-align: center;
}
.ShowsAndEventsContainer {
flex-direction: column;
text-align: center;
}
.RestaurantsContainer {
flex-direction: column;
text-align: center;
}
/* On smaller screens moves headers to center alignment */
.mainRidesExperiences h3 {
  text-align: center;
}
}
 
/* Footer coded by George Wauchope */
.footer {
  width: 100%;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px 0px;
}
.footer .part1 .logo-img {
  width: 100px;
  height: auto;
}
.footer .part2 {
  text-align: center;
}
.footer .part2 p {
  padding: 5px 0px;
}
.footer-pages {
  display: flex;
  padding: 0;
}
.footer-pages ul {
  list-style: none;
  padding: 0;
}
.footer-pages ul li {
  float: left;
}
.footer-pages ul li a {
  text-decoration: none;
  padding: 0px 10px;
  color: #000;
}
.footer-pages ul li a:hover {
  color: red;
}

.book-btn {
  padding: 10px;
  text-decoration: none;
  color: #fff;
  background: red;
  border: 1px solid #fff;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}
.book-btn:hover {
  background: #e9fa00;
  color: #000;
}

@media (max-width: 991px) {
  .footer {
    flex-direction: column;
  }
  .footer .part1,
  .part2,
  .part3,
  .part4 {
    margin: 20px 0px;
  }
}

@media (max-width: 767px) {
  .text-above-fold .text {
    float: none;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 40px;
  }
  .text-above-fold .img {
    float: none;
    margin: 0 auto;
    width: 100%;
  }
  .navbar-links li:hover {
    background-color: #e9fa00;
  }
}
@media (max-width: 600px) {
  .navbar {
    width: 100%;
  }
  .navbar .item2 {
    margin-left: 0px;
  }
  .brand-title {
    margin: 0.5rem 0px;
  }
}