
/* properties for the entire page */

* {
    box-sizing: border-box;
    scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: 0px;
    
}

body {
    
    /* max-width: 100%;
     */
  }
  
 
/* places-to-stay.html main area*/
/* css for seach field */

#housingSearchBar{
       
  margin: 11px;
  position: relative;
  


  /* box-sizing: content-box; */
  align-self: flex-start;
 
}
#housingSearchBar input[type=date]{
       
  margin-left: auto; 
  margin-right: 0;
 
}


#housingSearchBar { grid-area: searchBar; }
#housingPreview { grid-area: housingPreview; }
#housingListings { grid-area: housingListings; }
.contact-us { grid-area: contact-us;}

/*Mobile*/
@media only screen and (max-width: 640px){
    #grid-container-PtS { 
        display: grid;
        grid-template-columns: auto;
        width: 100%;
        object-fit: cover;
        
        grid-template-areas:
          ' searchBar '
          ' housingPreview  '
          ' housingListings '
          ' contact-us '
                            
      }
      
   
      
      #housingPreview{
    
       
          position: relative;
          object-fit: cover;
        width: 100%

        
      }
      
      #housingPreview  p {
        font-size: 25px;
        z-index: 1;
        /* display: inline; */
        position: absolute;
       bottom: 10%; 
       margin: 16px;
       
      
      background-color: #f6fa003c;
      border-radius: 10px;
        

      }

      #housingPreview  img {
        
        border: 16px solid rgb(115, 150, 65);
        border-radius: 16px;
        margin-top: 15px;
        object-fit: fill;
        width: 100%;
       

        
        position: relative;
      }
      
}
/*Tablet-------------------------------------*/
@media only screen and (min-width: 641px) and (max-width: 1010px){
    #grid-container-PtS {
        display: grid;
        grid-template-columns: 220px auto;
        width: 100%;
        object-fit: cover;
        
        grid-template-areas:
          'searchBar housingPreview  '
          'searchBar housingListings '
          'searchBar contact-us '
                            
      }
      
 

      
      
      #housingPreview{
    
       
          position: relative;
          object-fit: cover;
        width: 100%

        
      }
      
      #housingPreview  p {
        font-size: 25px;
        z-index: 1;
        /* display: inline; */
        position: absolute;
       bottom: 10%; 
       margin: 16px;
       
      
      background-color: #f6fa003c;
      border-radius: 10px;
        

      }

      #housingPreview  img {
        
        border: 16px solid rgb(115, 150, 65);
        border-radius: 16px;
        margin-top: 15px;
        object-fit: fill;
        width: 100%;
       

        
        position: relative;
      }
      
     


      
}
/*Desktop-------------------------------------*/
@media only screen and (min-width: 1011px){
    
  #grid-container-PtS {
        display: grid;
        grid-template-columns: 380px auto 320px;
        width: 100%;
        object-fit: cover;
        
        grid-template-areas:
          'searchBar housingPreview  contact-us'
          
           
  }
      
      /* css for fitting contact form as side content */
  
  .contact-us {
    width: 98%;
    margin-top: 5px;
    margin-left: 5px;
    padding: 5px 0px;
    margin-bottom: auto;
  }
 
  .contact-us .contact-form {
    display: block;
    justify-content: top;
  }
  .contact-us .contact-form .form-group {
    margin: 15px 0px;
  }
  .contact-us .contact-form .form-group input {
    width: 95%;
    margin-left: 10px;
  }
  .contact-us .contact-form .form-group textarea {
    width: 95%;
    margin-left: 10px;
  }
 


    
      
      
      #housingPreview{
    
       
          position: relative;
          object-fit: cover;
        /* width: 100% */

        
      }
      
      #housingPreview .carousel p {
        font-size: 25px;
        z-index: 1;
        /* display: inline; */
        position: absolute;
       bottom: 5%; 
       margin: 20px;
       background-color: rgba(255, 255, 255, 0.418);
      }
      #housingPreview  img {


          /* border: 16px solid rgb(115, 150, 65); */
          /* border-radius: 16px; */
          /* margin-top: 15px; */
          object-fit: cover;
        max-height: 100%;
        object-fit: fill;
        width: 100%;
        /* height: 100%; */
       

        
        position: relative;
      }
      
      
      
     

}

/* css for search Button by Sveibjørn. Toggles between showing previews and listings */

#searchListings ,
#searchPreview {
  display: none;
  overflow-anchor: none;
 }

 #searchButtonListings{
  display: block;
}

#searchButtonPreview {
  display: block;
}

#searchPreview:checked~#housingSearchBar #searchButtonPreview{
  display: none;
}

#searchListings:checked~#housingSearchBar #searchButtonListings{
  display: none; 
}



/* searchListings" id = "searchButtonListings" "searchPreivew" id = "searchButtonPreview" */

 /* nav li a:hover{
     color:hsl(0,0%,255%);
     text-decoration: none;
 } */

 .carousel{
  display: none;
}

#searchPreview:checked~#housingPreview .carousel{
  display: block;
 }

 .listings{
  display: none;
}


#searchListings:checked~#housingPreview .listings{
  display: block;
 }





